/* ================================= 
  Import Fonts
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
}

li {
    list-style: none;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

.btn {
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 5px 15px;
}

.btn:hover {
    cursor: pointer;
    color: hsl(71, 73%, 54%);
    background-color: white;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

/* ================================= 
    Base Layout Styles
  ==================================== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main {
    max-width: 325px;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 5px 15px;
    border-radius: 20px;
}

.section-community,
.section-subscription,
.section-whyus {
    padding: 30px;
}

/*Section1 - Community Section*/
.section-community {
    background-color: white;
}

.section-community__heading {
    margin-bottom: 20px;
    color: hsl(179, 62%, 43%);
}

.section-community__subheading {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
    font-size: 16px;
}

.section-community__paragraph {
    color: hsl(204, 43%, 87%);
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 14px;
}

/*Section2 - Subscription Section*/
.section-subscription {
    background-color: hsl(179, 62%, 43%);
    color: white;
    justify-content: center;
}

.section-subscription__heading {
    margin-bottom: 20px;
}

.section-subscription__cost-div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.section-subscription__cost-div__dollar {
    font-size: 30px;
    margin-right: 15px;
    align-items: center;
    display: flex;
}

.section-subscription__cost-div__month {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    align-items: center;
    display: flex;
}

.section-subscription__paragraph {
    font-weight: 400;
    opacity: 0.75;
    margin-bottom: 30px;
}

/*Section3- Why Us Section*/
.section-whyus {
    background-color: hsl(179, 62%, 47%);
    color: white;
}

.section-whyus__heading {
    margin-bottom: 15px;
}

.section-whyus__list-item {
    opacity: 0.65;
    line-height: 1.5;
    font-size: 14px;
}

/*Footer*/
.footer {
    text-align: center;
    margin: 0 10px;
}

  /* ================================= 
    Media Queries
  ==================================== */

@media (min-width: 1040px) {
    /* ================================= 
    Base Element Styles
  ==================================== */
    .btn {
        align-items: flex-end;
    }
    /* ================================= 
    Base Layout Styles
  ==================================== */
    .main {
        display: flex;
        max-width: 650px;
        flex-wrap: wrap;
    }

    .section-community,
    .section-subscription,
    .section-whyus {
    padding: 30px;
    }

    .section-subscription,
    .section-whyus {
        flex-basis: 50%;
    }

    /*Section1 - Community Section*/
    .section-community {
        flex-basis: 100%;
    }

    /*Section2 - Subscription Section*/
    .section-subscription {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .section-subscription__cost-div {
        margin-bottom: 0px;
    }

    /*Section3- Why Us Section*/
    .section-whyus__list-item {
        font-size: 14px;
    }
}
